# python
__pycache__/
*.pyc
.venv/
venv/
.env

# ignore generated artifacts but keep folders
data/**
!data/raw/
!data/raw/.gitkeep
!data/processed/
!data/processed/.gitkeep
!data/out/
!data/out/.gitkeep

models/**
!models/.gitkeep

# IDE
.vscode/
.DS_Store